@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Roboto';
    src: url('/public/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face{
    font-family: 'Anton';
    src: url('/public/Anton-Regular.ttf') format('truetype');
    font-display: swap;
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid theme('colors.dark');
    margin-bottom: 2.5rem
}

th {
    border: 1px solid theme('colors.dark');
}

td {
    border: 1px solid theme('colors.dark')
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}